/* Set custom colors */
:root {
  --bg: #39424E;
  --text: white;
  --accent-bg: #22272e;
}

.date-arrow {
  color: grey;
}

.date-arrow:hover {
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .big-element {
    width: 150%;
    right: 25%;
    position: relative;
  }
}

@media only screen and (min-width: 1500px) {
  .big-element {
    width: 200%;
    right: 50%;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .contest-table {
    font-size: 15px;
  }

  .new-user-form {
    font-size: 15px;
  }

  .new-user-form button {
    font-size: 15px;
  }
}
